li.failed_login
{
list-style: none;
color: red;
text-align: left;
margin-left: 425px;
font-size: 12px;
font-family: verdana;
}

li.failed
{
list-style: none;
color: red;
text-align: left;
margin-left: 370px;
font-size: 12px;
font-family: verdana;
}

li.success
{
list-style: none;
color: green;
text-align: center;
font-size: 12px;
font-family: verdana;
}

input.admin 
{border: 1px solid #aeaeae}

table.login
{
font-size: 12px;
font-family: verdana;
}